RewriteEngine on

# Add trailing slash to URLs without one
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]

# Add .php extension to clean URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/$ $1.php [L]

# Handle SEO and blog URLs
RewriteRule ^seo/(.*)/$ /seo/$1.php [L]
RewriteRule ^logo-design/(.*)/$ /logo-design/$1.php [L]
RewriteRule ^blog/(.*)/$ /blog/$1.php [L]

# Ensure URLs with / at the end are processed correctly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]

# Deflate and set expires headers
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css text/javascript text/x-javascript image/icon image/jpg image/jpeg image/png image/x-icon application/x-javascript application/javascript
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
</IfModule>
